<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>

<a href="/book/new">Nuevo</a>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Texto</th>
        <th>Likes</th>

    </tr>
    <tr th:each="book: ${books}">
        <td th:text="${book.id}">
        </td>
        <td th:text="${book.title}">

        </td>
        <td th:text="${book.likes}">

        </td>
        <td>
            <a th:href="@{/book/}+${book.id}">Ver</a>
            <a th:href="@{/book/edit/}+${book.id}">Editar</a>
            <a th:href="@{/book/delete/}+${book.id}">Borrar</a>
            <a th:href="@{/book/like/}+${book.id}">Likes</a>
            <a th:href="@{/book/mostrar/}+${book.id}">Mostrar</a>

        </td>
    </tr>
</table>

</body>
</html>